body {
  background-image: url("DESERT/1191810.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Open Sans', sans-serif;
  color: #333; /* Adjust text color for readability */
  margin: 0; /* Remove default margin */
  min-height: 100vh; /* Ensure content fills viewport */
  display: flex; /* Use flexbox for vertical layout */
  flex-direction: column; /* Stack elements vertically */
}

.profile-pic {
  margin: auto; /* Center horizontally */
}

.profile-pic img {
  width: 350px;
  border-radius: 50%; /* Make a perfect circle */
  object-fit: cover; /* Ensure image fills the circle */
}

.words p {
  font-size: 20.5px;
  word-break: break-all;
  align-items: center;
  font-family: Sans;
  padding:10px;
  padding-top:10px;
  color:#000;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}


button {
  background-color: #2196F3; /* Blue background */
  border-radius: 10%; /* Rounded corners */
  color: white; /* White text */
  padding: 10px 16px; /* Reduced padding for smaller size */
  text-align: center; /* Center text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Make button block-level */
  font-size: 14px; /* Smaller font size */
  margin: 20px; /* Reduced spacing around button */
  cursor: pointer; /* Change cursor to indicate interactivity */
  width:300px;
  
  /* Hover effect */
  &:hover {
    background-color: #0D47A1; /* Darker blue on hover */
  }
}





.p-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(5, 5, 5, 0.1); /* Add a subtle shadow */
}


.t-container {
  background-color: #eee;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.z-container {
  background-color: #eee;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 1, 0.5); /* Add a subtle shadow */
}



a {
  color: #000;
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px; /* Use a smaller border-radius */
  margin: 12px;
}

a:hover {
  background-color: #666;
}

.call-to-action {
  background-color: #566;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
}



