* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
main{
    padding-top: 0;
}
body {
    font-family: montserrat;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: #0082e6;
    width: 100%;
    height: 100px;
}

label.logo{
    color: white;
    font-size: 35px; 
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px; 
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
}

a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 952px) {
    label.logo{
        font-family: serif;
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
       display: block; 
       margin: 50px 0;
       line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6
    }
    #check:checked ~ ul{
        left: 0;
    }
}
/*Index*/
.container {
    width: 100%;
    height: calc(100vh - 80px);
    background: url(LOGO/Elegant\ Emboss\ Logo\ Mockup.jpg) no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
}
.vertical-center {
    display: table-cell;
    vertical-align: middle;
}
.container h2 {
    font-family: Cormorant Garamond;
    font-size: 50px;
    font-weight: 800;
    line-height: 60px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px #111;
}
.container h1 {
    font-family: Cormorant Garamond;
    font-size: 28px;
    font-weight: 100;
    font-style: italic;
    line-height: 40px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px #111;
}
.story-links div {
    margin: 16px 16px 0;
    width: calc(100%-32px);
    height: 100px;
    background-color: #f2f2f2; 
}
.story-links div h3 {
    font-family: Catamaran;
    font-size: 28px;
    font-weight: 300;
    line-height: 100px;
    color: #111;
    text-align: center;
    text-transform: uppercase;
}
