* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  /* background-image: url(Asset1.png); */
}

.text1 {
  color: navy;
}

.header h1 {
  font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: lightskyblue;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 12px;
}

.card2 {
  background-color: yellow;
  padding: 20px;
  margin-top: 12px;
}

.card3 {
  background-color: yellow;
  padding: 8px;
  margin-top: 6px;
  margin-bottom: 6px;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

 /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other  */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

 /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other   */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
} 

/* .carousel-dark-indicator-active-bg { color: black;}
.carousel-dark-caption-color { color: black;}
.carousel-dark-control-icon-filter{  invert(1) grayscale(100);} */


/* Media Query for Mobile View */
/* @media (max-width: 700px) {
  .text-box h1 {
      font-size: 20px;
  }

  .nav-links ul li {
      display: block;
  }

  .nav-links {
      position: fixed;
      background: #122f5a;
      height: 100vh;
      width: 200px;
      top: 0;
      right: -200px;
      text-align: left;
      z-index: 2;
      transition: 1s;
  }

  nav .fa {
      display: block;
      color: #fff;
      margin: 10px;
      font-size: 22px;
      cursor: pointer;
  }

  .nav-links ul {
      padding: 30px;
  }
} */
